@model NPCgenerator.Models.Details.CharacterDetail

@{
    ViewBag.Title = "Details";
}
<style>
</style>
<h2>You see a...</h2>

<div>
    
        

    <dd>
        @Html.DisplayFor(model => model.Gender) <a>,</a> @Html.DisplayFor(model => model.Race) <a>,</a> @Html.DisplayFor(model => model.Profession)
    </dd>



        <dd>
            <a>Weilding a </a>@Html.DisplayFor(model => model.Equipment)
        </dd>

        

        <dd>
            <a>Who is </a>@Html.DisplayFor(model => model.Personality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hostile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hostile)
        </dd>

    </dl>
</div>
<center>
    @Html.ActionLink("Generate", "Details", "Character", null, new { @class = "btnGen button-glow" })
    <div><p><p/></div>
    <p>
        @Html.ActionLink("Return to Home", "Index", "Home")

    </p>
</center>
